<h1>投稿一覧</h1>
<table>
  <thead>
    <th>アカウント名</th>
    <th>投稿内容</th>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <td><%= post.user.name %></td>
      <td><%= post.body %></td>
    <% end %>
  </tbody>
</table>